@layer base {
	:root {
		--size-size-0: 0px;
		--size-size-px: 1px;
		--size-size-0-5: 2px;
		--size-size-1: 4px;
		--size-size-2: 8px;
		--size-size-3: 12px;
		--size-size-4: 16px;
		--size-size-5: 20px;
		--size-size-6: 24px;
		--size-size-7: 28px;
		--size-size-8: 32px;
		--size-size-9: 36px;
		--size-size-10: 40px;
		--size-size-11: 44px;
		--size-size-12: 48px;
		--size-size-14: 56px;
		--size-size-16: 64px;
		--size-size-20: 80px;
		--size-size-24: 96px;
		--size-size-28: 112px;
		--size-size-32: 128px;
		--size-size-36: 144px;
		--size-size-40: 160px;
		--size-size-44: 176px;
		--size-size-48: 192px;
		--size-size-52: 208px;
		--size-size-56: 224px;
		--size-size-60: 240px;
		--size-size-64: 256px;
		--size-size-72: 288px;
		--size-size-80: 320px;
		--size-size-96: 384px;
		--screens-xsm: 375px;
		--screens-sm: 640px;
		--screens-md: 768px;
		--screens-lg: 1024px;
		--screens-xl: 1440px;
		--screens-2xl: 1920px;
		--border-radius-none: 0px;
		--border-radius-xs: 2px;
		--border-radius-sm: 4px;
		--border-radius-md: 6px;
		--border-radius-lg: 8px;
		--border-radius-xl: 12px;
		--border-radius-2xl: 16px;
		--border-radius-3xl: 24px;
		--border-radius-4xl: 32px;
		--border-radius-full: 9999px;
		--border-width-0: 0px;
		--border-width-1: 1px;
		--border-width-2: 2px;
		--border-width-4: 4px;
		--border-width-8: 8px;
		--max-width-0: 0px;
		--max-width-xs: 343px;
		--max-width-sm: 384px;
		--max-width-md: 448px;
		--max-width-lg: 512px;
		--max-width-xl: 576px;
		--max-width-2xl: 672px;
		--max-width-3xl: 768px;
		--max-width-4xl: 896px;
		--max-width-5xl: 1024px;
		--max-width-6xl: 1152px;
		--max-width-7xl: 1280px;
		--opacity-0: 0px;
		--opacity-5: 5px;
		--opacity-10: 10px;
		--opacity-15: 15px;
		--opacity-20: 20px;
		--opacity-25: 25px;
		--opacity-30: 30px;
		--opacity-35: 35px;
		--opacity-40: 40px;
		--opacity-45: 45px;
		--opacity-50: 50px;
		--opacity-55: 55px;
		--opacity-60: 60px;
		--opacity-65: 65px;
		--opacity-70: 70px;
		--opacity-75: 75px;
		--opacity-80: 80px;
		--opacity-85: 85px;
		--opacity-90: 90px;
		--opacity-95: 95px;
		--opacity-100: 100px;
		--spacing-0: 0px;
		--spacing-1: 4px;
		--spacing-2: 8px;
		--spacing-3: 12px;
		--spacing-4: 16px;
		--spacing-5: 20px;
		--spacing-6: 24px;
		--spacing-7: 28px;
		--spacing-8: 32px;
		--spacing-9: 36px;
		--spacing-10: 40px;
		--spacing-11: 44px;
		--spacing-12: 48px;
		--spacing-14: 56px;
		--spacing-16: 64px;
		--spacing-20: 80px;
		--spacing-24: 96px;
		--spacing-28: 112px;
		--spacing-32: 128px;
		--spacing-36: 144px;
		--spacing-40: 160px;
		--spacing-44: 176px;
		--spacing-48: 192px;
		--spacing-52: 208px;
		--spacing-56: 224px;
		--spacing-60: 240px;
		--spacing-64: 256px;
		--spacing-72: 288px;
		--spacing-80: 320px;
		--spacing-96: 384px;
		--spacing-px: 1px;
		--spacing-0-5: 2px;
		--spacing-1-5: 6px;
		--spacing-2-5: 10px;
		--spacing-3-5: 14px;
		--blur-none: 0px;
		--blur-sm: 4px;
		--blur: 8px;
		--blur-md: 12px;
		--blur-lg: 16px;
		--blur-xl: 24px;
		--blur-2xl: 40px;
		--blur-3xl: 64px;
		--skew-0: 0px;
		--skew-1: 1px;
		--skew-2: 2px;
		--skew-3: 3px;
		--skew-6: 6px;
		--skew-12: 12px;
		--font-family-sans: "Source Sans Pro";
		--font-style-italic: "italic";
		--font-style-not-italic: "regular";
		--font-weight-regular: 400px;
		--font-weight-medium: 600px;
		--font-weight-bold: 700px;
		--font-tracking-tighter: -0.800000011920929px;
		--font-tracking-tight: -0.4000000059604645px;
		--font-tracking-normal: 0px;
		--font-tracking-wide: 0.4000000059604645px;
		--font-tracking-wider: 0.800000011920929px;
		--font-leading-auto: "auto";
		--font-tracking-widest: 1.600000023841858px;
		--font-leading-3: 12px;
		--font-leading-4: 16px;
		--font-leading-5: 20px;
		--font-leading-6: 24px;
		--font-leading-7: 28px;
		--font-leading-8: 32px;
		--font-leading-9: 36px;
		--font-leading-10: 40px;
		--font-size-2xs: 10px;
		--font-size-xs: 12px;
		--font-size-sm: 14px;
		--font-size-base: 16px;
		--font-size-lg: 18px;
		--font-size-xl: 20px;
		--font-size-2xl: 24px;
		--font-size-3xl: 32px;
		--font-size-4xl: 36px;
		--font-size-5xl: 48px;
		--font-size-6xl: 60px;
		--font-size-7xl: 72px;
		--font-size-8xl: 96px;
		--font-size-9xl: 128px;
		--colors-base-black: rgba(0, 0, 0);
		--colors-base-white: rgba(255, 255, 255);
		--colors-opacity-white-opacity-0: rgba(255, 255, 255, 0);
		--colors-opacity-black-opacity-0: rgba(0, 0, 0, 0);
		--colors-opacity-black-opacity-5: rgba(0, 0, 0, 0.05);
		--colors-opacity-black-opacity-10: rgba(0, 0, 0, 0.1);
		--colors-opacity-black-opacity-15: rgba(0, 0, 0, 0.15);
		--colors-opacity-black-opacity-20: rgba(0, 0, 0, 0.2);
		--colors-opacity-black-opacity-25: rgba(0, 0, 0, 0.25);
		--colors-opacity-black-opacity-30: rgba(0, 0, 0, 0.3);
		--colors-opacity-black-opacity-35: rgba(0, 0, 0, 0.35);
		--colors-opacity-black-opacity-40: rgba(0, 0, 0, 0.4);
		--colors-opacity-black-opacity-45: rgba(0, 0, 0, 0.45);
		--colors-opacity-black-opacity-50: rgba(0, 0, 0, 0.5);
		--colors-opacity-black-opacity-55: rgba(0, 0, 0, 0.55);
		--colors-opacity-black-opacity-60: rgba(0, 0, 0, 0.6);
		--colors-opacity-black-opacity-65: rgba(0, 0, 0, 0.65);
		--colors-opacity-black-opacity-70: rgba(0, 0, 0, 0.7);
		--colors-opacity-black-opacity-75: rgba(0, 0, 0, 0.75);
		--colors-opacity-black-opacity-80: rgba(0, 0, 0, 0.8);
		--colors-opacity-black-opacity-85: rgba(0, 0, 0, 0.85);
		--colors-opacity-black-opacity-90: rgba(0, 0, 0, 0.9);
		--colors-opacity-black-opacity-95: rgba(0, 0, 0, 0.95);
		--colors-opacity-white-opacity-5: rgba(255, 255, 255, 0.05);
		--colors-opacity-white-opacity-10: rgba(255, 255, 255, 0.1);
		--colors-opacity-white-opacity-15: rgba(255, 255, 255, 0.15);
		--colors-opacity-white-opacity-20: rgba(255, 255, 255, 0.2);
		--colors-opacity-white-opacity-25: rgba(255, 255, 255, 0.25);
		--colors-opacity-white-opacity-30: rgba(255, 255, 255, 0.3);
		--colors-opacity-white-opacity-35: rgba(255, 255, 255, 0.35);
		--colors-opacity-white-opacity-40: rgba(255, 255, 255, 0.4);
		--colors-opacity-white-opacity45: rgba(255, 255, 255, 0.45);
		--colors-opacity-white-opacity-50: rgba(255, 255, 255, 0.5);
		--colors-opacity-white-opacity-55: rgba(255, 255, 255, 0.55);
		--colors-opacity-white-opacity-60: rgba(255, 255, 255, 0.6);
		--colors-opacity-white-opacity-65: rgba(255, 255, 255, 0.65);
		--colors-opacity-white-opacity-70: rgba(255, 255, 255, 0.7);
		--colors-opacity-white-opacity-75: rgba(255, 255, 255, 0.75);
		--colors-opacity-white-opacity-80: rgba(255, 255, 255, 0.8);
		--colors-opacity-white-opacity-85: rgba(255, 255, 255, 0.85);
		--colors-opacity-white-opacity-90: rgba(255, 255, 255, 0.9);
		--colors-opacity-white-opacity-95: rgba(255, 255, 255, 0.95);
		--colors-primary-50: rgba(237, 245, 255);
		--colors-primary-100: rgba(216, 236, 255);
		--colors-primary-200: rgba(173, 211, 255);
		--colors-primary-300: rgba(127, 186, 255);
		--colors-primary-400: rgba(74, 157, 255);
		--colors-primary-500: rgba(0, 110, 239);
		--colors-primary-600: rgba(0, 91, 192);
		--colors-primary-700: rgba(0, 68, 147);
		--colors-primary-800: rgba(0, 46, 104);
		--colors-primary-900: rgba(0, 26, 65);
		--colors-primary-950: rgba(0, 16, 41);
		--colors-brand-50: rgba(255, 240, 237);
		--colors-brand-100: rgba(255, 218, 212);
		--colors-brand-200: rgba(255, 180, 168);
		--colors-brand-300: rgba(255, 138, 120);
		--colors-brand-400: rgba(255, 85, 64);
		--colors-brand-500: rgba(212, 0, 0);
		--colors-brand-600: rgba(186, 0, 0);
		--colors-brand-700: rgba(153, 0, 0);
		--colors-brand-800: rgba(122, 0, 0);
		--colors-brand-900: rgba(79, 0, 0);
		--colors-brand-950: rgba(41, 0, 0);
		--colors-neutral-50: rgba(249, 250, 251);
		--colors-green-50: rgba(242, 255, 246);
		--colors-green-100: rgba(230, 250, 239);
		--colors-green-200: rgba(182, 243, 198);
		--colors-green-300: rgba(146, 242, 171);
		--colors-green-400: rgba(45, 208, 122);
		--colors-green-500: rgba(0, 167, 78);
		--colors-green-600: rgba(0, 138, 63);
		--colors-green-700: rgba(0, 109, 49);
		--colors-green-800: rgba(0, 87, 24);
		--colors-green-900: rgba(7, 70, 31);
		--colors-green-950: rgba(0, 41, 13);
		--colors-neutral-100: rgba(242, 244, 247);
		--colors-neutral-200: rgba(234, 236, 240);
		--colors-neutral-300: rgba(218, 219, 227);
		--colors-neutral-400: rgba(168, 168, 178);
		--colors-neutral-500: rgba(145, 143, 151);
		--colors-neutral-600: rgba(112, 112, 119);
		--colors-neutral-700: rgba(86, 86, 91);
		--colors-neutral-800: rgba(67, 67, 73);
		--colors-neutral-900: rgba(47, 48, 51);
		--colors-neutral-950: rgba(27, 27, 31);
		--colors-yellow-50: rgba(255, 252, 240);
		--colors-yellow-100: rgba(254, 247, 229);
		--colors-yellow-200: rgba(253, 234, 152);
		--colors-yellow-300: rgba(255, 205, 94);
		--colors-yellow-400: rgba(243, 175, 0);
		--colors-yellow-500: rgba(217, 156, 0);
		--colors-yellow-600: rgba(174, 115, 0);
		--colors-yellow-700: rgba(140, 89, 0);
		--colors-yellow-800: rgba(116, 70, 0);
		--colors-yellow-900: rgba(71, 49, 1);
		--colors-yellow-950: rgba(39, 25, 0);
		--colors-red-50: rgba(253, 238, 240);
		--colors-cyan-50: rgba(247, 253, 255);
		--colors-cyan-100: rgba(229, 247, 249);
		--colors-cyan-200: rgba(164, 238, 255);
		--colors-cyan-300: rgba(107, 225, 248);
		--colors-cyan-400: rgba(65, 198, 220);
		--colors-cyan-500: rgba(2, 172, 195);
		--colors-cyan-600: rgba(3, 137, 166);
		--colors-cyan-700: rgba(0, 99, 131);
		--colors-cyan-800: rgba(0, 77, 102);
		--colors-cyan-900: rgba(1, 59, 78);
		--colors-cyan-950: rgba(0, 42, 55);
		--colors-red-100: rgba(255, 218, 218);
		--colors-red-200: rgba(255, 179, 181);
		--colors-red-300: rgba(255, 136, 142);
		--colors-red-400: rgba(255, 81, 101);
		--colors-red-500: rgba(226, 40, 73);
		--colors-red-600: rgba(204, 37, 67);
		--colors-red-700: rgba(166, 0, 59);
		--colors-red-800: rgba(128, 0, 53);
		--colors-red-900: rgba(92, 0, 38);
		--colors-red-950: rgba(66, 0, 28);
		--colors-orange-50: rgba(255, 247, 237);
		--colors-orange-100: rgba(255, 237, 213);
		--colors-orange-200: rgba(254, 215, 170);
		--colors-orange-300: rgba(253, 186, 116);
		--colors-orange-400: rgba(251, 146, 60);
		--colors-orange-500: rgba(249, 115, 22);
		--colors-orange-600: rgba(234, 88, 12);
		--colors-orange-700: rgba(194, 65, 12);
		--colors-orange-800: rgba(154, 52, 18);
		--colors-orange-900: rgba(124, 45, 18);
		--colors-orange-950: rgba(67, 20, 7);
		--colors-amber-50: rgba(255, 251, 235);
		--colors-amber-100: rgba(254, 243, 199);
		--colors-amber-200: rgba(253, 230, 138);
		--colors-amber-300: rgba(252, 211, 77);
		--colors-amber-400: rgba(251, 191, 36);
		--colors-amber-500: rgba(245, 158, 11);
		--colors-amber-600: rgba(217, 119, 6);
		--colors-amber-700: rgba(180, 83, 9);
		--colors-amber-800: rgba(146, 64, 14);
		--colors-amber-900: rgba(120, 53, 15);
		--colors-amber-950: rgba(69, 26, 3);
		--colors-lime-50: rgba(247, 254, 231);
		--colors-lime-100: rgba(236, 252, 203);
		--colors-lime-200: rgba(217, 249, 157);
		--colors-lime-300: rgba(190, 242, 100);
		--colors-lime-400: rgba(163, 230, 53);
		--colors-lime-500: rgba(132, 204, 22);
		--colors-lime-600: rgba(101, 163, 13);
		--colors-lime-700: rgba(77, 124, 15);
		--colors-lime-800: rgba(63, 98, 18);
		--colors-lime-900: rgba(54, 83, 20);
		--colors-lime-950: rgba(26, 46, 5);
		--colors-emerald-50: rgba(236, 253, 245);
		--colors-emerald-100: rgba(209, 250, 229);
		--colors-emerald-200: rgba(167, 243, 208);
		--colors-emerald-300: rgba(110, 231, 183);
		--colors-emerald-400: rgba(52, 211, 153);
		--colors-emerald-500: rgba(16, 185, 129);
		--colors-emerald-600: rgba(5, 150, 105);
		--colors-emerald-700: rgba(4, 120, 87);
		--colors-emerald-800: rgba(6, 95, 70);
		--colors-emerald-900: rgba(6, 78, 59);
		--colors-emerald-950: rgba(2, 44, 34);
		--colors-teal-50: rgba(240, 253, 250);
		--colors-teal-100: rgba(204, 251, 241);
		--colors-teal-200: rgba(153, 246, 228);
		--colors-teal-300: rgba(94, 234, 212);
		--colors-teal-400: rgba(45, 212, 191);
		--colors-teal-500: rgba(20, 184, 166);
		--colors-teal-600: rgba(13, 148, 136);
		--colors-teal-700: rgba(15, 118, 110);
		--colors-teal-800: rgba(17, 94, 89);
		--colors-teal-900: rgba(19, 78, 74);
		--colors-teal-950: rgba(4, 47, 46);
		--colors-sky-50: rgba(240, 249, 255);
		--colors-sky-100: rgba(224, 242, 254);
		--colors-sky-200: rgba(186, 230, 253);
		--colors-sky-300: rgba(125, 211, 252);
		--colors-sky-400: rgba(56, 189, 248);
		--colors-sky-500: rgba(14, 165, 233);
		--colors-sky-600: rgba(2, 132, 199);
		--colors-sky-700: rgba(3, 105, 161);
		--colors-sky-800: rgba(7, 89, 133);
		--colors-sky-900: rgba(12, 74, 110);
		--colors-sky-950: rgba(8, 47, 73);
		--colors-blue-50: rgba(239, 246, 255);
		--colors-blue-100: rgba(219, 234, 254);
		--colors-blue-200: rgba(191, 219, 254);
		--colors-blue-300: rgba(147, 197, 253);
		--colors-blue-400: rgba(96, 165, 250);
		--colors-blue-500: rgba(59, 130, 246);
		--colors-blue-600: rgba(37, 99, 235);
		--colors-blue-700: rgba(29, 78, 216);
		--colors-blue-800: rgba(30, 64, 175);
		--colors-blue-900: rgba(30, 58, 138);
		--colors-blue-950: rgba(23, 37, 84);
		--colors-indigo-50: rgba(238, 242, 255);
		--colors-indigo-100: rgba(224, 231, 255);
		--colors-indigo-200: rgba(199, 210, 254);
		--colors-indigo-300: rgba(165, 180, 252);
		--colors-indigo-400: rgba(129, 140, 248);
		--colors-indigo-500: rgba(99, 102, 241);
		--colors-indigo-600: rgba(79, 70, 229);
		--colors-indigo-700: rgba(67, 56, 202);
		--colors-indigo-800: rgba(55, 48, 163);
		--colors-indigo-900: rgba(49, 46, 129);
		--colors-indigo-950: rgba(30, 27, 75);
		--colors-violet-50: rgba(245, 243, 255);
		--colors-violet-100: rgba(237, 233, 254);
		--colors-violet-200: rgba(221, 214, 254);
		--colors-violet-300: rgba(196, 181, 253);
		--colors-violet-400: rgba(167, 139, 250);
		--colors-violet-500: rgba(139, 92, 246);
		--colors-violet-600: rgba(124, 58, 237);
		--colors-violet-700: rgba(109, 40, 217);
		--colors-violet-800: rgba(91, 33, 182);
		--colors-violet-900: rgba(76, 29, 149);
		--colors-violet-950: rgba(46, 16, 101);
		--colors-purple-50: rgba(250, 245, 255);
		--colors-purple-100: rgba(243, 232, 255);
		--colors-purple-200: rgba(236, 211, 255);
		--colors-purple-300: rgba(236, 211, 255);
		--colors-purple-400: rgba(192, 132, 252);
		--colors-purple-500: rgba(174, 102, 229);
		--colors-purple-600: rgba(147, 51, 234);
		--colors-purple-700: rgba(122, 47, 181);
		--colors-purple-800: rgba(107, 33, 168);
		--colors-purple-900: rgba(88, 28, 135);
		--colors-purple-950: rgba(59, 7, 100);
		--colors-fuchsia-50: rgba(253, 244, 255);
		--colors-fuchsia-100: rgba(250, 232, 255);
		--colors-fuchsia-200: rgba(245, 208, 254);
		--colors-fuchsia-300: rgba(240, 171, 252);
		--colors-fuchsia-400: rgba(232, 121, 249);
		--colors-fuchsia-500: rgba(217, 70, 239);
		--colors-fuchsia-600: rgba(192, 38, 211);
		--colors-fuchsia-700: rgba(162, 28, 175);
		--colors-fuchsia-800: rgba(134, 25, 143);
		--colors-fuchsia-900: rgba(112, 26, 117);
		--colors-fuchsia-950: rgba(74, 4, 78);
		--colors-pink-50: rgba(253, 242, 248);
		--colors-pink-100: rgba(252, 231, 243);
		--colors-pink-200: rgba(251, 207, 232);
		--colors-pink-300: rgba(249, 168, 212);
		--colors-pink-400: rgba(244, 114, 182);
		--colors-pink-500: rgba(236, 72, 153);
		--colors-pink-600: rgba(219, 39, 119);
		--colors-pink-700: rgba(190, 24, 93);
		--colors-pink-800: rgba(157, 23, 77);
		--colors-pink-900: rgba(131, 24, 67);
		--colors-pink-950: rgba(80, 7, 36);
		--colors-rose-50: rgba(255, 241, 242);
		--colors-rose-100: rgba(255, 228, 230);
		--colors-rose-200: rgba(254, 205, 211);
		--colors-rose-300: rgba(253, 164, 175);
		--colors-rose-400: rgba(251, 113, 133);
		--colors-rose-500: rgba(244, 63, 94);
		--colors-rose-600: rgba(225, 29, 72);
		--colors-rose-700: rgba(190, 18, 60);
		--colors-rose-800: rgba(159, 18, 57);
		--colors-rose-900: rgba(136, 19, 55);
		--colors-rose-950: rgba(76, 5, 25);
	}
}
