@layer base {
	:root {
		--color-page: var(--colors-base-white);
		--color-page-soft: var(--colors-neutral-50);
		--color-surface: var(--colors-base-white);
		--color-surface-inverse: var(--colors-neutral-900);
		--color-surface-form: var(--colors-base-white);
		--color-surface-form-soft: var(--colors-opacity-black-opacity-5);
		--color-surface-level-0: var(--colors-neutral-50);
		--color-surface-level-1: var(--colors-neutral-100);
		--color-surface-level-2: var(--colors-neutral-200);
		--color-surface-level-3: var(--colors-neutral-300);
		--color-surface-level-4: var(--colors-neutral-400);
		--color-surface-level-5: var(--colors-neutral-600);
		--color-disabled-surface-soft: var(--colors-neutral-100);
		--color-disabled-on-surface-soft: var(--colors-neutral-400);
		--color-disabled-surface-mid: var(--colors-neutral-400);
		--color-disabled-on-surface-mid: var(--colors-neutral-100);
		--color-default-hover-soft: var(--colors-opacity-black-opacity-5);
		--color-default-hover-mid: var(--colors-opacity-black-opacity-25);
		--color-hover-inverse: var(--colors-opacity-white-opacity-20);
		--color-primary-hover: var(--colors-primary-50);
		--color-brand-hover: var(--colors-brand-50);
		--color-error-hover: var(--colors-red-50);
		--color-success-hover: var(--colors-green-50);
		--color-neutral-surface-soft: var(--colors-neutral-200);
		--color-neutral-on-surface-soft: var(--colors-neutral-900);
		--color-neutral-surface-mid: var(--colors-neutral-900);
		--color-neutral-on-surface-mid: var(--colors-base-white);
		--color-neutral-track: var(--colors-opacity-black-opacity-15);
		--color-neutral-track-inverse: var(--colors-opacity-white-opacity-15);
		--color-brand-surface-soft: var(--colors-brand-50);
		--color-brand-on-surface-soft: var(--colors-brand-600);
		--color-brand-surface-mid: var(--colors-brand-500);
		--color-brand-on-surface-mid: var(--colors-base-white);
		--color-neutral-on-surface-soft-teste: 47, 48, 51;
		--color-primary-surface-soft: var(--colors-primary-100);
		--color-primary-on-surface-soft: var(--colors-primary-600);
		--color-primary-surface-mid: var(--colors-primary-500);
		--color-primary-on-surface-mid: var(--colors-base-white);
		--color-primary-surface-inverse: var(--colors-base-white);
		--color-primary-on-surface-inverse: var(--colors-primary-500);
		--color-info-surface-soft: var(--colors-cyan-100);
		--color-info-on-surface-soft: var(--colors-cyan-700);
		--color-info-surface-mid: var(--colors-cyan-700);
		--color-info-on-surface-mid: var(--colors-base-white);
		--color-success-surface-soft: var(--colors-green-100);
		--color-success-on-surface-soft: var(--colors-green-700);
		--color-success-surface-mid: var(--colors-green-700);
		--color-success-on-surface-mid: var(--colors-base-white);
		--color-warning-surface-soft: var(--colors-yellow-100);
		--color-warning-on-surface-soft: var(--colors-yellow-800);
		--color-warning-surface-mid: var(--colors-yellow-400);
		--color-warning-on-surface-mid: var(--colors-yellow-900);
		--color-error-surface-soft: var(--colors-red-50);
		--color-error-on-surface-soft: var(--colors-red-700);
		--color-error-surface-mid: var(--colors-red-600);
		--color-error-on-surface-mid: var(--colors-base-white);
		--color-pink-surface-soft: var(--colors-pink-100);
		--color-pink-on-surface-soft: var(--colors-pink-700);
		--color-pink-surface-mid: var(--colors-pink-700);
		--color-pink-on-surface-mid: var(--colors-base-white);
		--color-default-pressed-soft: var(--colors-opacity-black-opacity-10);
		--color-default-pressed-mid: var(--colors-opacity-black-opacity-40);
		--color-pressed-inverse: var(--colors-opacity-white-opacity-30);
		--color-primary-pressed: var(--colors-primary-100);
		--color-brand-pressed: var(--colors-brand-100);
		--color-error-pressed: var(--colors-red-100);
		--color-success-pressed: var(--colors-green-100);
		--color-border: var(--colors-neutral-300);
		--color-border-soft: var(--colors-neutral-200);
		--color-border-inverse: var(--colors-base-white);
		--color-border-strong: var(--colors-neutral-500);
		--color-border-emphasis: var(--colors-neutral-700);
		--color-border-disabled: var(--colors-neutral-100);
		--color-border-primary-mid: var(--colors-primary-500);
		--color-border-primary-soft: var(--colors-primary-200);
		--color-border-brand-mid: var(--colors-brand-500);
		--color-border-brand-soft: var(--colors-brand-200);
		--color-border-error-mid: var(--colors-red-600);
		--color-border-error-soft: var(--colors-red-200);
		--color-border-warning-mid: var(--colors-yellow-700);
		--color-border-warning-soft: var(--colors-yellow-300);
		--color-border-success-mid: var(--colors-green-700);
		--color-border-success-soft: var(--colors-green-200);
		--color-border-info-mid: var(--colors-cyan-700);
		--color-border-info-soft: var(--colors-cyan-200);
		--color-border-pink: var(--colors-pink-700);
		--color-border-purple: var(--colors-purple-700);
		--color-text: var(--colors-neutral-900);
		--color-text-action-brand: var(--colors-brand-500);
		--color-text-error: var(--colors-red-600);
		--color-text-warning: var(--colors-yellow-700);
		--color-text-success: var(--colors-green-700);
		--color-text-info: var(--colors-cyan-700);
		--color-text-action-primary: var(--colors-primary-500);
		--color-text-action-neutral: var(--colors-neutral-950);
		--color-text-soft: var(--colors-neutral-600);
		--color-text-default-inverse: var(--colors-base-white);
		--color-text-soft-inverse: var(--colors-neutral-300);
		--color-text-disabled: var(--colors-neutral-400);
		--color-text-pink: var(--colors-pink-700);
		--color-text-purple: var(--colors-purple-700);
		--color-purple-surface-soft: var(--colors-purple-100);
		--color-purple-on-surface-soft: var(--colors-purple-700);
		--color-purple-surface-mid: var(--colors-purple-700);
		--color-purple-on-surface-mid: var(--colors-base-white);
		--color-neutral-selected: var(--colors-opacity-black-opacity-5);
		--color-neutral-selected-inverse: var(--colors-opacity-white-opacity-5);
		--color-primary-selected: var(--colors-primary-50);
		--color-brand-selected: var(--colors-brand-50);
		--color-success-selected: var(--colors-green-50);
		--color-error-selected: var(--colors-red-50);
	}

	.dark {
		--color-page: var(--colors-neutral-950);
		--color-page-soft: var(--colors-neutral-900);
		--color-surface: var(--colors-neutral-950);
		--color-surface-inverse: var(--colors-neutral-50);
		--color-surface-form: var(--colors-opacity-white-opacity-5);
		--color-surface-form-soft: var(--colors-opacity-white-opacity-5);
		--color-surface-level-0: var(--colors-opacity-white-opacity-5);
		--color-surface-level-1: var(--colors-opacity-white-opacity-10);
		--color-surface-level-2: var(--colors-opacity-white-opacity-20);
		--color-surface-level-3: var(--colors-opacity-white-opacity-30);
		--color-surface-level-4: var(--colors-opacity-white-opacity-30);
		--color-surface-level-5: var(--colors-opacity-white-opacity-60);
		--color-disabled-surface-soft: var(--colors-opacity-white-opacity-10);
		--color-disabled-on-surface-soft: var(--colors-opacity-white-opacity-30);
		--color-disabled-surface-mid: var(--colors-opacity-white-opacity-30);
		--color-disabled-on-surface-mid: var(--colors-opacity-white-opacity-30);
		--color-default-hover-soft: var(--colors-opacity-white-opacity-5);
		--color-default-hover-mid: var(--colors-opacity-white-opacity-25);
		--color-hover-inverse: var(--colors-opacity-black-opacity-20);
		--color-primary-hover: var(--colors-opacity-white-opacity-5);
		--color-brand-hover: var(--colors-opacity-white-opacity-5);
		--color-error-hover: var(--colors-opacity-white-opacity-5);
		--color-success-hover: var(--colors-opacity-white-opacity-5);
		--color-neutral-surface-soft: var(--colors-neutral-900);
		--color-neutral-on-surface-soft: var(--colors-neutral-200);
		--color-neutral-surface-mid: var(--colors-neutral-200);
		--color-neutral-on-surface-mid: var(--colors-neutral-900);
		--color-neutral-track: var(--colors-opacity-white-opacity-15);
		--color-neutral-track-inverse: var(--colors-opacity-black-opacity-15);
		--color-brand-surface-soft: var(--colors-brand-900);
		--color-brand-on-surface-soft: var(--colors-brand-100);
		--color-brand-surface-mid: var(--colors-brand-500);
		--color-brand-on-surface-mid: var(--colors-base-white);
		--color-neutral-on-surface-soft-teste: 255, 255, 255;
		--color-primary-surface-soft: var(--colors-primary-800);
		--color-primary-on-surface-soft: var(--colors-primary-100);
		--color-primary-surface-mid: var(--colors-primary-300);
		--color-primary-on-surface-mid: var(--colors-primary-950);
		--color-primary-surface-inverse: var(--colors-neutral-900);
		--color-primary-on-surface-inverse: var(--colors-primary-300);
		--color-info-surface-soft: var(--colors-cyan-900);
		--color-info-on-surface-soft: var(--colors-cyan-100);
		--color-info-surface-mid: var(--colors-cyan-300);
		--color-info-on-surface-mid: var(--colors-cyan-950);
		--color-success-surface-soft: var(--colors-green-900);
		--color-success-on-surface-soft: var(--colors-green-100);
		--color-success-surface-mid: var(--colors-green-300);
		--color-success-on-surface-mid: var(--colors-green-950);
		--color-warning-surface-soft: var(--colors-yellow-900);
		--color-warning-on-surface-soft: var(--colors-yellow-100);
		--color-warning-surface-mid: var(--colors-yellow-300);
		--color-warning-on-surface-mid: var(--colors-yellow-950);
		--color-error-surface-soft: var(--colors-red-900);
		--color-error-on-surface-soft: var(--colors-red-100);
		--color-error-surface-mid: var(--colors-red-300);
		--color-error-on-surface-mid: var(--colors-red-950);
		--color-pink-surface-soft: var(--colors-pink-950);
		--color-pink-on-surface-soft: var(--colors-pink-200);
		--color-pink-surface-mid: var(--colors-pink-300);
		--color-pink-on-surface-mid: var(--colors-pink-950);
		--color-default-pressed-soft: var(--colors-opacity-white-opacity-10);
		--color-default-pressed-mid: var(--colors-opacity-white-opacity-40);
		--color-pressed-inverse: var(--colors-opacity-black-opacity-30);
		--color-primary-pressed: var(--colors-opacity-white-opacity-15);
		--color-brand-pressed: var(--colors-opacity-white-opacity-15);
		--color-error-pressed: var(--colors-opacity-white-opacity-15);
		--color-success-pressed: var(--colors-opacity-white-opacity-15);
		--color-border: var(--colors-opacity-white-opacity-20);
		--color-border-soft: var(--colors-opacity-white-opacity-10);
		--color-border-inverse: var(--colors-neutral-900);
		--color-border-strong: var(--colors-opacity-white-opacity-30);
		--color-border-emphasis: var(--colors-opacity-white-opacity-50);
		--color-border-disabled: var(--colors-opacity-white-opacity-5);
		--color-border-primary-mid: var(--colors-primary-500);
		--color-border-primary-soft: var(--colors-primary-800);
		--color-border-brand-mid: var(--colors-brand-500);
		--color-border-brand-soft: var(--colors-brand-900);
		--color-border-error-mid: var(--colors-red-600);
		--color-border-error-soft: var(--colors-red-900);
		--color-border-warning-mid: var(--colors-yellow-500);
		--color-border-warning-soft: var(--colors-yellow-800);
		--color-border-success-mid: var(--colors-green-700);
		--color-border-success-soft: var(--colors-green-100);
		--color-border-info-mid: var(--colors-cyan-700);
		--color-border-info-soft: var(--colors-cyan-100);
		--color-border-pink: var(--colors-pink-700);
		--color-border-purple: var(--colors-purple-700);
		--color-text: var(--colors-base-white);
		--color-text-action-brand: var(--colors-brand-300);
		--color-text-error: var(--colors-red-600);
		--color-text-warning: var(--colors-yellow-400);
		--color-text-success: var(--colors-green-700);
		--color-text-info: var(--colors-cyan-700);
		--color-text-action-primary: var(--colors-primary-500);
		--color-text-action-neutral: var(--colors-base-white);
		--color-text-soft: var(--colors-neutral-400);
		--color-text-default-inverse: var(--colors-neutral-900);
		--color-text-soft-inverse: var(--colors-neutral-800);
		--color-text-disabled: var(--colors-neutral-400);
		--color-text-pink: var(--colors-pink-700);
		--color-text-purple: var(--colors-purple-700);
		--color-purple-surface-soft: var(--colors-purple-950);
		--color-purple-on-surface-soft: var(--colors-purple-200);
		--color-purple-surface-mid: var(--colors-purple-300);
		--color-purple-on-surface-mid: var(--colors-purple-900);
		--color-neutral-selected: var(--colors-opacity-white-opacity-5);
		--color-neutral-selected-inverse: var(--colors-opacity-black-opacity-5);
		--color-primary-selected: var(--colors-opacity-white-opacity-5);
		--color-brand-selected: var(--colors-opacity-white-opacity-5);
		--color-success-selected: var(--colors-opacity-white-opacity-5);
		--color-error-selected: var(--colors-opacity-white-opacity-5);
	}
}
