/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
	--color-neutral-99: #F9FAFB;
	--color-neutral-95: #F2F4F7;
	--color-neutral-90: #EAECF0;
	--color-neutral-80: #DADBE3;
	--color-neutral-70: #A8A8B3;
	--color-neutral-60: #918F97;
	--color-neutral-50: #707077;
	--color-neutral-40: #56565B;
	--color-neutral-30: #434349;
	--color-neutral-20: #2F3033;
	--color-neutral-10: #1B1B1F;

	--color-brand-key: #D40000;
	--color-brand-99: #FFFBFF;
	--color-brand-95: #FFF0ED;
	--color-brand-90: #FFDAD4;
	--color-brand-80: #FFB4A8;
	--color-brand-70: #FF8A78;
	--color-brand-60: #FF5540;
	--color-brand-50: #EA1D11;
	--color-brand-40: #C00000;
	--color-brand-30: #930000;
	--color-brand-20: #690000;
	--color-brand-10: #410000;

	--color-primary-key: #006EEF;
	--color-primary-99: #FEFBFF;
	--color-primary-95: #EDF5FF;
	--color-primary-90: #D8ECFF;
	--color-primary-80: #ADD3FF;
	--color-primary-70: #7FBAFF;
	--color-primary-60: #4A9DFF;
	--color-primary-50: #0771EA;
	--color-primary-40: #005BC0;
	--color-primary-30: #004493;
	--color-primary-20: #002E68;
	--color-primary-10: #001A41;

	--color-info-key: #00AFC7;
	--color-info-99: #F7FDFF;
	--color-info-95: #E5F7F9;
	--color-info-90: #A4EEFF;
	--color-info-80: #6BE1F8;
	--color-info-70: #41C6DC;
	--color-info-60: #02ACC3;
	--color-info-50: #0389A6;
	--color-info-40: #006383;
	--color-info-30: #004D66;
	--color-info-20: #013B4E;
	--color-info-10: #002A37;

	--color-success-key: #08CD62;
	--color-success-99: #F2FFF6;
	--color-success-95: #E6FAEF;
	--color-success-90: #B6F3C6;
	--color-success-80: #92F2AB;
	--color-success-70: #2DD07A;
	--color-success-60: #00A74E;
	--color-success-50: #008A3F;
	--color-success-40: #006D31;
	--color-success-30: #005718;
	--color-success-20: #07461F;
	--color-success-10: #003310;

	--color-warning-key: #F3AF00;
	--color-warning-99: #FFFCF0;
	--color-warning-95: #FEF7E5;
	--color-warning-90: #FDEA98;
	--color-warning-80: #FFCD5E;
	--color-warning-70: #E8A704;
	--color-warning-60: #D09000;
	--color-warning-50: #AE7300;
	--color-warning-40: #8C5900;
	--color-warning-30: #744600;
	--color-warning-20: #473101;
	--color-warning-10: #271900;

	--color-danger-key: #E22849;
	--color-danger-99: #FFFBFF;
	--color-danger-95: #FDEEF0;
	--color-danger-90: #FFDADA;
	--color-danger-80: #FFB3B5;
	--color-danger-70: #FF888E;
	--color-danger-60: #FF5165;
	--color-danger-50: #E3294A;
	--color-danger-40: #BE0044;
	--color-danger-30: #92003D;
	--color-danger-20: #6C073F;
	--color-danger-10: #4E052D;

	--color-background-primary: var(--color-neutral-99);
	--color-foreground-primary: var(--color-neutral-10);
}

.dark {
	--color-background-primary: var(--color-neutral-10);
	--color-foreground-primary: var(--color-neutral-99);
}
