.g-button {
	font-weight: var(--font-weight-medium);
	vertical-align: middle;
	cursor: pointer;

	&.g-button--default {
		background-color: var(--color-primary-surface-mid);
		color: var(--color-primary-on-surface-mid);
	}

	&.g-button--neutral {
		background-color: var(--color-neutral-surface-mid);
		color: var(--color-neutral-on-surface-mid);
	}

	&.g-button--error {
		background-color: var(--color-error-surface-mid);
		color: var(--color-error-on-surface-mid);
	}

	&.g-button--success {
		background-color: var(--color-success-surface-mid);
		color: var(--color-success-on-surface-mid);
	}

	&.g-button--brand {
		background-color: var(--color-brand-surface-mid);
		color: var(--color-brand-on-surface-mid);
	}

	&.g-button--xs {
		height: var(--size-6);
		border-radius: var(--border-radius-md);

		padding-top: var(--spacing-2);
		padding-bottom: var(--spacing-2);
		padding-left: var(--spacing-2);
		padding-right: var(--spacing-2);
	}

	&.g-button--xs .g-button__content {
		font-size: var(--font-size-xs);
		line-height: var(--font-leading-4);
	}

	&.g-button--sm {
		height: var(--size-8);
		border-radius: var(--border-radius-md);

		padding-top: var(--spacing-2);
		padding-bottom: var(--spacing-2);
		padding-left: var(--spacing-3);
		padding-right: var(--spacing-3);
	}

	&.g-button--sm .g-button__content {
		font-size: var(--font-size-sm);
		line-height: var(--font-leading-4);
	}

	&.g-button--md {
		height: var(--size-11);
		border-radius: var(--border-radius-md);

		padding-top: var(--spacing-2);
		padding-bottom: var(--spacing-2);
		padding-left: var(--spacing-4);
		padding-right: var(--spacing-4);
	}

	&.g-button--md .g-button__content {
		font-size: var(--font-size-sm);
		line-height: var(--font-leading-5);
	}

	&.g-button--lg {
		height: var(--size-6);
		border-radius: var(--border-radius-lg);

		padding-top: var(--spacing-3);
		padding-bottom: var(--spacing-3);
		padding-left: var(--spacing-5);
		padding-right: var(--spacing-5);
	}

	&.g-button--lg .g-button__content {
		font-size: var(--font-size-base);
		line-height: var(--font-leading-5);
	}
}
